CMEMR/2.19/1.开发库/EMRv6.0/JHAutoUpdate/JHUploadFile/Service References/autoupdate/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/JHEMR.JHCommonLib.Entity.TableObject" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/JHEMR.JHAutoUpdateServiceLib" />
  <xs:element name="UploadDLL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JHEMR.JHCommonLib.Entity.TableObject" minOccurs="0" name="files" nillable="true" type="q1:ArrayOfJHSYS_FILE_UPLOAD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadDLLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadDLLResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopCurrVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JHEMR.JHCommonLib.Entity.TableObject" minOccurs="0" name="file" nillable="true" type="q2:JHSYS_FILE_UPLOAD" />
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopCurrVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopCurrVersionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartVision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JHEMR.JHCommonLib.Entity.TableObject" minOccurs="0" name="file" nillable="true" type="q3:JHSYS_FILE_UPLOAD" />
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="old_distribute_no" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartVisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartVisionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCurrentFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sys_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client_serial_number" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCurrentFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="max_serial_number" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JHEMR.JHAutoUpdateServiceLib" minOccurs="0" name="file_infos" nillable="true" type="q4:ArrayOfFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSysDicts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSysDictsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JHEMR.JHCommonLib.Entity.TableObject" minOccurs="0" name="dicts" nillable="true" type="q5:ArrayOfJHSYS_DICT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sys_code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JHEMR.JHCommonLib.Entity.TableObject" minOccurs="0" name="files" nillable="true" type="q6:ArrayOfJHSYS_FILE_UPLOAD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sys_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="file_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="distribute_no" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/JHEMR.JHCommonLib.Entity.TableObject" minOccurs="0" name="file" nillable="true" type="q7:JHSYS_FILE_UPLOAD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxSerialNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sys_code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxSerialNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMaxSerialNoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/JHEMR.JHCommonLib.Entity.TableObject" minOccurs="0" name="file_info" nillable="true" type="q8:JHSYS_FILE_UPLOAD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/JHEMR.JHCommonLib.Entity.TableObject" minOccurs="0" name="GetSingleFileResult" nillable="true" type="q9:JHSYS_FILE_UPLOAD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFileNameExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sys_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="file_name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFileNameExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsFileNameExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>